{
    admin 0.0.0.0:2019
    auto_https off
}


localhost:80 {
    handle /api/media/* {
        reverse_proxy minio:9001
    }
    handle /api/auth/* {
        reverse_proxy api-auth:3000
    }
    
    handle /api/posts/* {
        reverse_proxy api-posts:3000
    }
    
    handle /api/users/* {
        reverse_proxy api-users:3000
    }
    
    handle /api/conversations/* {
        reverse_proxy api-websocket:3000
    }
    
    handle /api/admin/* {
        reverse_proxy api-admin:3000
    }
    
    handle /api/tags/* {
        reverse_proxy api-tags:3000
    }
    
    header {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, PATCH, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
    }
    
    @options method OPTIONS
    respond @options 200
    
    log {
        output file /var/log/caddy/access.log
        format json
    }
}